#### export of public functions:
export(coxphw)
export(plotw)

#### definition of S3 methods:
S3method(print, coxphw)
S3method(summary, coxphw)

#### register shared objects (Fortran DLL):
useDynLib(coxphw)
